############################################## JUNEAUX PACKAGE UNIVERSAL ###############################################
# Build
/.junbuild

# IDE metadata
.vscode
.idea

# macOS Metadata
.DS_Store
########################################################################################################################
